{
  imports = [
    ../modules/admin.nix
    ../modules/network.nix
    ../modules/ssh.nix
    ../modules/k3s.nix
    {{k3sServer}}
    {{k3sAgent}}
    {{customModule}}
  ];
  {% if is_hive_setup -%}
  deployment.targetHost = "{{ip}}";
  deployment.keys."token" = {
    text = "{{token}}";
    destDir = "/var/lib/rancher/k3s/server";
  };
  {%- endif %}
  cluster = {
    hostname = "{{hostname}}";}//
      builtins.fromJSON(''{{hostConfig}}'');
}