{
  imports = [
    ../modules
    {%- if host.k3s.server %}
    ../modules/k3sServer.nix
    {%- endif %}
    {%- if host.k3s.agent %}
    ../modules/k3sAgent.nix
    {%- endif %}
    ../nixConfigs/{{hostname}}.nix
    ./{{hostname}}/hardware-configuration.nix
  ];
  hostname = "{{hostname}}";
  gateway = "{{host.gateway}}";
  interface= "{{host.interface}}";
  ip = "{{host.ip}}";
  netmask = {{host.netmask}};
  subnet = "{{host.subnet}}";
  admin = {
    hashedPwd = ''{{host.admin.hashedPwd}}'';
    name = "{{host.admin.name}}";
    sshKeys = [
      {%- for key in host.admin.sshKeys %}
        ''{{key}}''
      {% endfor -%}
      ];
  };
  {%- if host.k3s.server or host.k3s.agent %}
  k3s = {
    version = "{{cluster.versions.k3s}}";
    init = {
      ip = "{{host.k3s.init.ip}}";
    };
    {%- if host.k3s.agent %}
    agent = {
      ip = "{{host.k3s.agent.ip}}";
      name = "{{host.k3s.agent.name}}";
    };
    {%- endif -%}
    {% if host.k3s.server %}
    server = {
      ip = "{{host.k3s.server.ip}}";
      name = "{{host.k3s.server.name}}";
      manifests = [
        {% for manifest in host.k3s.server.manifests -%}
          ../manifests/{{manifest}}
        {% endfor -%}
      ];
    };
    {%- endif %}
  };
  {%- endif %}
  nixos_version = "{{cluster.versions.nixos}}";
  {% if is_hive_setup -%}
  deployment.targetHost = "{{host.ip}}";
  {%- if host.k3s.server or host.k3s.agent %}
  deployment.keys."token" = {
    text = "{{cluster.token}}";
    destDir = "/var/lib/rancher/k3s/server";
  };
  {%- endif %}
  {%- endif %}
}