#!/bin/sh

set -e
sudo echo ""

# wait for dns service startup
timeout 1m bash -c 'until [ "$(dig +short -t srv _ldap._tcp.google.com.)" ]; do sleep 5; done' || echo "Error: cannot resolve google.com"

# partitioning
#######################
disko_config=/etc/nixos/partitioning.nix
disk_gen_dir=/etc/nixos/disks
# get names for all disks
disk_names=$(nix-instantiate --eval -E "builtins.attrNames $(nix-instantiate --eval --strict $disko_config -A "disko.devices.disk")" | tr -d '[],' | tr -d '"')
sudo mkdir -p $disk_gen_dir
# split disko config
echo Preparing disks for partitioning with disko.
echo "WARNING: all disk content will be erased if you select yes for the given disk!"
for disk in $disk_names; do
    # write every disk into an extra file
    echo "{disko.devices.disk.$disk = $(nix-instantiate --eval --strict $disko_config -A "disko.devices.disk.$disk");}" | sudo sh -c "nixfmt > $disk_gen_dir/$disk.nix"
    # ask to run disko for every file
    echo "Format disk $disk?"
    [[ "$(read -e -p "[y/N]> "; echo $REPLY)" == [Yy]* ]] && echo "formatting $disk" && \
      sudo disko --mode disko $disk_gen_dir/$disk.nix
done
######################
# end partitioning
sudo disko --mode mount /etc/nixos/partitioning.nix

# copy configs
sudo mkdir -p /mnt/etc/nixos
sudo nixos-generate-config --root /mnt --no-filesystems
sudo cp -LR /etc/nixos /mnt/etc


cd /mnt
# https://github.com/NixOS/nixpkgs/blob/master/nixos/doc/manual/man-nixos-install.xml
sudo nixos-install --no-root-passwd -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/{{nixos_version}}.tar.gz