#!/bin/sh

set -e
sudo echo ""

{% if serial -%}
# get the configured disk and partition it for installation
serial="{{serial}}"
# get the boot partition
# ##################
# test if serial exists
lsblk -io SERIAL,NAME | grep $serial > /dev/null
result=$?
if [ $result -ne 0 ]; then echo "No disk found with this serial."; exit 2; fi
# get disk info with lsblk
# get the line with the fitting serial with grep
# remove the serial from the line with cut
# make sure there is now leading whitespace with sed
# append the /dev/ part of the path
dev="/dev/$(lsblk -io SERIAL,NAME | grep $serial|cut -f2- --delimiter=' '| sed 's/^[[:space:]]*//')"
# ###################
sudo partition $dev
sleep 1s # give disk label exposure some time
{%- endif -%}

# mount the expected partitions
sudo mkdir -p /mnt
if ! mountpoint -q "/mnt"; then sudo mount /dev/disk/by-label/nixos /mnt; fi
{%- if not legacy %}
# mount boot partition if on physical machine
sudo mkdir -p /mnt/boot
if ! mountpoint -q "/mnt/boot"; then sudo mount /dev/disk/by-label/boot /mnt/boot; fi
{%- endif %}

# copy configs
sudo mkdir -p /mnt/etc/nixos
sudo nixos-generate-config --root /mnt --no-filesystems #--show-hardware-config
sudo cp -LR /etc/nixos /mnt/etc

# wait for dns service startup
timeout 1m bash -c 'until [ "$(dig +short -t srv _ldap._tcp.google.com.)" ]; do sleep 5; done' || echo "Error: cannot resolve google.com"

cd /mnt
# https://github.com/NixOS/nixpkgs/blob/master/nixos/doc/manual/man-nixos-install.xml
sudo nixos-install --no-root-passwd -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/{commit_sha1}.tar.gz